// В этом файле должны быть стили для БЭМ-блока call-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.call-btn {

  $block-name:                &; // #{$block-name}__element

  margin-left: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #000;

  &:before {
    content: "";
    display: block;
    @include sprite($icon-call);
    width: 61px;
    height: 53px;
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

}
