// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  &__content {
    // @include row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

}
