// В этом файле должны быть стили для БЭМ-блока top-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-contacts {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: space-between;

  &__item {
    margin-left: 55px;
    a {
      color: #000;
      text-decoration: none;
    }
  }

}
