// В этом файле должны быть стили для БЭМ-блока objec-cards, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.objec-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.objec-cards {

  $block-name:                &; // #{$block-name}__element

  flex-basis: 33.3333%;
  border: 1px solid #fff;
  width: 100%;
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &__link {
    display: flex;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
    &:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    span {
      position: relative;
      z-index: 2;
    }
    &:hover,
    &:focus {
      &:before {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

}
