// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__top {

  }
  &__bottom {
    background: #f8f8f8;
    overflow: hidden;
  }
  &__inner {
    @include container;
  }

  &__content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .copyright--showbiz {
    color: #9a9a9a;
    a {
      color: #9a9a9a;

      &:hover,
      &:focus {
        color: darken(#9a9a9a, 20%);
      }
    }
  }

}
