// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-section {
  position: relative;
}

.main-slider {

  $block-name:                &; // #{$block-name}__element

  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 45px 0;
    min-height: 500px;
  }
  &__inner {
    @include container;
  }
  &__caption {
    max-width: 50%;
  }
  &__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0.6em;
  }
  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
  }


  // .owl-nav {
  //   .owl-prev,
  //   .owl-next {
  //     width: 40px;
  //     background: #444;
  //     height: 40px;
  //     position: absolute;
  //     z-index: 10;
  //     bottom: 30px;
  //     svg {
  //       fill: #fff;
  //     }
  //   }
  //   .owl-prev {
  //     left: 10%;
  //   }
  //   .owl-next {
  //     right: 10%;
  //   }
  // }


  &__form-inner {
    @include container;
    padding-top: 60px;
    // position: absolute;
    z-index: 2;
    // top: 0;
    // bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    // width: 100%;
    // height: 100%;
    @media (min-width: $menu-desktop-width) {
      padding-top: 60px;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
    }
  }
  &__form-wrap {
    // width: 40%;
    border-radius: 4px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
    @media (min-width: $menu-desktop-width) {
      padding: 40px 75px;
      width: 40%;
      float: right;
    }
  }

  &__form {
    .btn {
      width: 100%;
    }
  }

  &__form-title {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
  }

}
