// В этом файле должны быть стили для БЭМ-блока content, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-size:                   16px ;
$line-height:                 1.7em;

.content {

  $block-name:                &; // #{$block-name}__element

  @include container;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: $font-size;
  line-height: $line-height;

  &__title {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

}
